@import url(sanitize.css);
body{
  background-color: #fafafa;
}
h1 {
  font-size: 24px;
  margin: 0;
  /* background-color: #ffcccc; */
}
label{
  display: block;
  margin-bottom: .5em;
  font-size: 16px;
}
/* divは省略できる */
div.content {
  background-color: #fff;
  width: 600px;
  /* marginは外側の余白を調整 */
  margin: 10px auto;
  border: 1px solid #d1d1d1;
  /* ショートハンドで記述している
  border-width: 1px;
  border-style: solid;
  border-color: #d1d1d1; */
  /* paddingは内側の余白を調整 */
  padding:50px;
}
input {
  /* borderをなくして */
  border: none;
  border-bottom: 1px solid #d1d1d1;
  /* inputタグはfont-sizeを16px以上にする */
  font-size: 16px;
  padding: 8px;
  width:100%;
}

button {
  width: 100%;
  background-color: #2096F3;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  /* 0 0 とすると正面から光が当たるような感じ
  rgba aは不透明度 1が最大*/
  box-shadow: 0 0 8px rgba(0,0,0, .4);
  margin-top: 10px;
}
/* spanは省略することが多い */
span.required {
  background-color: #fee;
  color: #f33;
  padding: 3px;
  font-size: .9em;
  font-weight: bold;
  margin-left: .3em;
}